*{
	margin: 0;
	padding: 0;

	outline-style:none;
	box-shadow:none;
	border-color:transparent;

}
body{
	background-color: #efefef;
}
.home{

	h1{
		text-shadow: 2px 2px black;
		display: block;
		text-align: center;
	}

	.btn-container{
		text-align: center;
		margin-top: 100px;
		button{
			&.showCompanies{
				background-color: #005a98;
				// border-color: #4cae4c;
				border: 1px solid ;
				border-radius: 5px;
				padding: 15px;
				font-size: 18px;

				text-decoration: none;
				color: #ffffff;
			}
		}
	}

	.company-data-container{
		// background-color: red;
		padding: 15px;

		.company{
			background-color: #ffffff;

			margin: 15px 0;
			padding: 15px;

			.image-container{
				width: 90%;
				margin: 7px auto;
				img{
					width: 100%;
				}
			}
			.description-container{
				width: 90%;
				margin: 7px auto;
				p{
					// margin: 10px;
					// background-color: green;
				}
				text-align: center;
			}
		}
	}

	.wrap-pagination{
		display: none;
		// background-color: red;

		a{
			border: 2px solid transparent;
			background-color: #ffffff;
			display: inline-block;
			text-decoration: none;
			padding: 5px 10px;
			color: #000000;
			margin: 0 2px;
			
			&:hover{
				border-color: #0069b1;
				color: #2780bd;	
			}



			&.btn-previous{
				font-weight: bold;
			}
			&.btn-next{
				font-weight: bold;
			}

		}

		.wrap-pagination_mobile{
			display: flex;
			flex-direction:row;
			justify-content:center;

			a{

			}
			span{
				margin: 7px 10px;
				color: #0069b1;
				// position: relative;
				// top: 3px;
			}
		}

		.wrap-pagination_desktop{

			display: flex;
			flex-direction:row;
			justify-content:center;
			display: none;

			a:focus{
				border-color: #0069b1;
				color: #2780bd;					
			}
			.wrap-pagination-desktop_previous{
				// background-color: red;

				span{
				    font-size: 24px;
				    position: relative;
				    top: 5px;
				    letter-spacing: 5px;
				    margin: 0 3px;
				}
			}

			.wrap-pagination-desktop_next{
				// background-color: blue;

				span{
				    font-size: 24px;
				    position: relative;
				    top: 5px;
				    letter-spacing: 5px;
				    margin: 0 3px;
				}
			}

			ul{
				list-style-type: none;
				display: flex;
				flex-direction:row;
				justify-content:center;
			}
		}


















	}
}


/*******************************/
/*        MEDIA QUERIES        */
/*******************************/

@media screen and (min-width: 480px) {

	.home{

		.company-data-container{


			.company{
				
				.image-container{
					width: 70%;
				}
				.description-container{
					width: 70%;

				}
			}
		}
	}
}

@media screen and (min-width: 768px) {

	.home{

		.company-data-container{


			.company{
				display: flex;
  				flex-direction: row;
				.image-container{
					margin: 0 15px;
					width: 30%;
				}
				.description-container{
					margin: 0 15px;
					width: 70%;

				}
			}
		}

		.wrap-pagination{
			
			.wrap-pagination_mobile{
				display: none;
			}

			.wrap-pagination_desktop{
				display: flex;
			}
		}
	}
}






















