<div class="home">
	<h1>Welcome Home</h1>
	<div class="btn-container">
		<button class="showCompanies"> Show Companies</button>
	</div>
	<div class="company-data-container">
	</div>

	<div class="wrap-pagination">

		<div class="wrap-pagination_mobile">
			<a href="#" class="btn-previous" >PREVIOUS</a>
			<span></span>
			<a href="#" class="btn-next">NEXT</a>
		</div>

		<div class="wrap-pagination_desktop">

			<div class="wrap-pagination-desktop_previous">
				<a href="#" class="btn-previous">PREVIOUS</a>
				<a href="#" class="item"></a>
				<span>...</span>
			</div>
			
			<div class="items-container">
				<ul>
				</ul>
			</div>

			<div class="wrap-pagination-desktop_next">
				<span>...</span>
				<a href="#" class="item"></a>
				<a href="#" class="btn-next">NEXT</a>
			</div>
		</div>
	</div>		
</div>