<!DOCTYPE html>
<html>
	<head>
		{{>head}}
	</head>
	<body>
		
		{{{body}}}

	</body>
	

	<script type="text/javascript" src="../assets/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../assets/js/main.js"></script>
</html>